body {
    position: relative;
    padding: 0px;
    margin: 0px;
    background: #adadad;
    font-family: Ubuntu, Arial;
}

.small-font { font-size: 0.7em; }
.inline { display: inline; }

#main-container {
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#f3f3f3,#adadad);
}

.error {
    background: #a54a4a;
    color: white;
    padding: 2px;
}

.button {
    display: inline-block;
    background: linear-gradient(#ddd,#999);
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 10px;
    border-width: 1.5px;
    border-style: outset;
    border-color: #d8d8d8;
    color: black;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(#eee,#aaa);;
}

.button:active {
    background: linear-gradient(#bbb,#ccc);;
}

.line-button {
    display: inline-block;
    background: linear-gradient(#91d489,#2e6327);
    border-radius: 2px 2px 8px 8px;
    cursor: pointer;
    padding: 2px 10px;
    border-width: 1.5px;
    border-color: #d8d8d8;
    margin-bottom: 4px;
    color: white;
}

.line-button:hover {
    background: linear-gradient(#a6e49e,#3d7536);
}

.line-button:active {
    background: linear-gradient(#2e6327, #55984d);
}


/* RENDER WINDOW */

.shader-container {
    position: relative;
    margin-top: 12px;
    padding: 10px;
}

.render-number {
    display: inline-block;
    margin-left: 10px;
    width: 20%;
    text-align: center;
}

.shader-name {
    font-size: 1.4em;
    font-weight: bold;
    margin: 5px 0px;
}

#shader-description {
    background: #c7c7c7;
    border-radius: 6px;
    padding: 4px;
    margin-top: 7px;
    font-size: 0.9em;
}

#play-button {
    width: 18px;
    height: 20px;
    text-align: center;
}



/* CODE EDITOR */

#code-editor-container {
    position: relative;
    background: #c7c7c7;
    border-radius: 5px;
}

#code-editor-tab-header {
    background: #eee;
    padding: 0px;
    font-size: 0.8em;
}

.code-editor-tab {
    display: inline-block;
    background: #afafaf;
    color: #4e4e4e;
    padding: 2px 6px;
    margin: 0px 3px;
    cursor: pointer;
    border-radius: 6px 6px 0px 0px;
}

.code-editor-tab-active {
    background: linear-gradient(#fff,#c7c7c7);
    color: black;
    cursor: auto;
    font-weight: bold;
}

.code-editor-tab:hover { background: #c7c7c7; }
.code-editor-tab-active:hover { background: linear-gradient(#fff,#c7c7c7); }

#code-editor-header {
    font-size: 0.8em;
    margin: 2px;
}

#code-editor {
    background: #888;
}

#code-editor-tools {
    margin: 2px;
}

.code-line-error {
    background: #844;
}

