{% load static %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if title %}<title>{{ title ]}</title>{% endif %}
    <meta name="KEYWORDS" content="shader webgl" />
    <meta name="DESCRIPTION" content="Shadertox - an online shader editor" />
    <meta name="author" content="Stefan Berke" />

    <link rel="stylesheet" type="text/css" href="{% static 'shaders/cm/codemirror.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shaders/cm/codemirror_theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shaders/style.css' %}" />

    <script type="text/javascript" src="{% static 'shaders/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shaders/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'shaders/cm/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'shaders/cm/codemirror_glsl.js' %}"></script>
    <script type="text/javascript" src="{% static 'shaders/webgl.js' %}"></script>
    <script type="text/javascript" src="{% static 'shaders/editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'shaders/tools.js' %}"></script>

</head>

<body>
    <div id="main-container">
        {% block content %}
            <h1>CONTENT</h1>
        {% endblock %}
        <pre id="debug"></pre>
    </div>
</body>

</html>
