{% extends 'shaders/base.html' %}
{% load i18n %}

{% block content %}

<p><a class="button" href="{% url 'shaders:shader_list' %}">all</a></p>

<table>
    <tr>
        <td valign="top">
            <canvas width="320" height="200" id="test-canvas"></canvas>

            <h2>"{{ shader.name }}"</h2>
            {% if shader.forked_from %}
            <p>{% trans 'forked from' %}
                "<a href="{% url 'shaders:shader_edit' shader.forked_from.shader_id %}">{{ shader.forked_from.name }}</a>"
            </p>
            {% endif %}

        </td>

        <td valign="top">
            {% include './parts/code-editor.html' %}
        </td>
    </tr>
</table>

<form method="POST" action="{% url 'shaders:shader_fork' shader.shader_id %}">
    <input type="submit" value="{% trans 'fork' %}">
    {% csrf_token %}
</form>

<script>
    var ctx, editor;

    $(function() {

        ctx = getGlContext("#test-canvas");

        $.ajax("{% url 'shaders:shader_load' shader.shader_id %}").done(function(data) {

            editor = getEditorFromJson(data, ctx);
            editor.compile();
        });

        // GLOBAL KEYS
        $("body").on("keydown", function(e) {

            var key = undefined;
            // Alan Bellows: https://stackoverflow.com/questions/93695/best-cross-browser-method-to-capture-ctrls-with-jquery
            var possible = [ e.key, e.keyIdentifier, e.keyCode, e.which ];
            while (key === undefined && possible.length > 0)
                key = possible.pop();
            //console.log(key);
            if (!key)
                return;

            if ((key == '115' || key == '83' ) && (e.ctrlKey || e.metaKey) && !(e.altKey)) {
                e.preventDefault();
                editor.save();
            }
            if (key == '13' && e.altKey) {
                e.preventDefault();
                editor.compile();
            }

        });
    });
</script>

{% endblock %}