{% extends 'shaders/base.html' %}
{% load i18n %}

{% block content %}

<p><a class="button" href="{% url 'shaders:shader_list' %}">all</a></p>

<table>
    <tr>
        <td valign="top">
            {% include './parts/shader-window.html' %}
        </td>

        <td valign="top">
            {% include './parts/code-editor.html' %}
        </td>
    </tr>
</table>

<form method="POST" action="{% url 'shaders:shader_fork' shader.shader_id %}">
    <input type="submit" value="{% trans 'fork' %}">
    {% csrf_token %}
</form>

<script>
    var ctx, editor;

    $(function() {

        $.ajax("{% url 'shaders:shader_load' shader.shader_id %}").done(function(data) {
            if (data.error) {
                alert(data.error);
                return;
            }

            ctx = getGlContext("#canvas-" + data.id);

            editor = getEditorFromJson(data, ctx);
            editor.compile();
        });

        // RENDER WINDOW HOOKS
        $('#play-button').on("click", function() {
            ctx.togglePlaying();
        });

        // GLOBAL KEYS
        $("body").on("keydown", function(e) {

            var key = undefined;
            // Alan Bellows: https://stackoverflow.com/questions/93695/best-cross-browser-method-to-capture-ctrls-with-jquery
            var possible = [ e.key, e.keyIdentifier, e.keyCode, e.which ];
            while (key === undefined && possible.length > 0)
                key = possible.pop();
            //console.log(key);
            if (!key)
                return;

            if ((key == '115' || key == '83' ) && (e.ctrlKey || e.metaKey) && !(e.altKey)) {
                e.preventDefault();
                editor.save();
            }
            if (key == '13' && e.altKey) {
                e.preventDefault();
                editor.compile();
            }

        });
    });
</script>

{% endblock %}