{% load i18n %}

<div class="shader-container">

    {% include './shader-canvas.html' %}
    <div>
        <div class="button" id="play-button"></div>
        <div class="render-number"><span id="play-time"></span><span class="small-font">s</span></div>
        <div class="render-number"><span id="frames-per-second"></span><span class="small-font">fps</span></div>
    </div>

    <div class="shader-name">
        "<span id="shader-name" {% if can_edit %}contenteditable="true"{% endif %}>{{ shader.name }}</span>"
    </div>

    <div class="shader-fork-line">
        <form class="inline" method="POST" action="{% url 'shaders:shader_fork' shader.shader_id %}">
            <input type="submit" class="button inline" value="{% trans 'fork' %}">
            {% csrf_token %}
        </form>

        {% if shader.forked_from %}
            <span class="small-font inline">
            {% trans 'forked from' %}
                "<a href="{% url 'shaders:shader_edit' shader.forked_from.shader_id %}">{{ shader.forked_from.name }}</a>"
            </span>
        {% endif %}

        <span class="small-font inline">
            {% if num_forks == 0 %}
            {% elif num_forks == 1 %}
                | <a href="{% url 'shaders:shader_edit' fork_ids.0 %}">{% trans 'one fork' %}</a>
            {% else %}
                | {{ num_forks }} {% trans 'forks' %}
            {% endif %}
        </span>
    </div>

    <div id="shader-description" contenteditable="true">{{ shader.description|safe }}</div>
</div>